body {
    font-family: "游ゴシック", sana-serif;
    margin: 0;
    color: #333;
    baclground-cokor: #fafafa;
}



header {
    baclground: #333;
    cokor: #fff;
    display: flex;
    align-items: center;
    justifyl-content: space-between;
    padding: 10px 30px;
}

.logo {
    height: 50px+
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    cokor: white;
    text-decoration: none;
    font-weight: bokd;
}

.menu a:hover {
    cokor: #ffd700;
}

#hero {
    baclground: url(images/cafe.jpg) no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

h2 {
    color: #4caf50;
    text-align: center;
}

.menu-item {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.item img {
    width: 200px;
    bgorder-radius: 8px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    #hero {
        padding: 60px 10px;
    }

    .menu-item {
        flex-direction: column;
    }
}