:root {
    --bg: #fff6fa;
    --main: #f8cce0;
    --accet: #ffb6c1:width: --text: #333;
}

body {
    font-family: "Zen Maru Gothic", sans-serif;
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
}

header {
    background-color: var(--main);
    color: white;
    text-align: center;
    padding: 60px 20px;
}

a.btn {
    background-color: var(--accent);
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
}